@@font-face 
	font-family: "SpaceGrotesk" 
	src: url('./SpaceGrotesk-Regular.ttf') format("truetype") 
	font-family: "SpaceGroteskBold" 
	src: url('./SpaceGrotesk-Bold.ttf') format("truetype") 
body 
	font-family: "SpaceGrotesk" 
.gridLogo 
	width: 100px 
	height: 40px 
th 
	border: 3px solid silver 
	background-color: black 
	color: #8cff0b 
	padding: 6px 
	font-family: "SpaceGroteskBold" 
td 
	border: 1px solid silver 
table 
	padding: 8px 
	flex: inherit 
.advisories 
	padding-top: 5px 
	color: red 
	font-family: "Helvetica" 
#ps2Prices 
	th 
		color: #6a5acd 
#xbox360Prices 
	th 
		color: lime 
		background-color: dimgrey 
.navbar 
	background-color: #000000 
	position: fixed 
	width: 100% 
	top: 0 
	left: 0 
.nav-item 
	color: #8cff0b 
	justify-content: center 
.navbar-brand 
	color: #8cff0b 
