th {
    border:3px solid silver;
    background-color:black;
    color:lime;
    padding:6px;
}

td {
border:1px solid silver;
}
    
        
  table {
      padding:8px;
      flex:inherit;
        
            
    }
    
    .advisories{
        padding-top:5px;
        color:red;
        
    }
    
    #ps2Prices th {
        color:#6a5acd;
        
    }

#xbox360Prices th {
    color:lime;
    background-color:dimgrey;
    
}

nav{
    background-color:#000000;
        
}

.nav-item{
    color:limegreen;
    
}

.navbar-brand{
    color:limegreen;
}